html{
  background-color: grey;
}
input{
  font-size: 23.3px;
}
button{
  font-size: 22px
}
select{
  font-size: 22px;
}
table{
  border: 3px solid black;
  position: absolute;
  right:10%;
  top:15%;
  width:70%;
}
td {
  font-size: 40px;
  display:inline-block;
  padding-right: 10%;
}
tr{
  border: 3px solid black;
}
footer{
  position: fixed;
  bottom: 10%;
  right:40%;
  width:50%;
}
.entBudget{
  position: absolute;
  left:2%;
  top:5%;
  width:15%;
  max-width: 15%;
  height:15%;
}
.entExpense{
  position: absolute;
  left:2%;
  top:40%;
  width:15%;
  max-width: 15%;
  height:26%;
}
.total{
  position: absolute;
  right:10%;
  top:5%;
  width:70%;
  max-width: 70%;
  height:5%;
}
